#!/bin/bash

# Disable docker-machine I'm on Mac Docker now ;)
# Docker machine name
#export DOCKER_MACHINE_NAME="default"
#if [ "$(docker-machine status $DOCKER_MACHINE_NAME 2>&1)" != "Running" ];then
#    echo "Starting Docker Machine '$DOCKER_MACHINE_NAME'... "
#    docker-machine start $DOCKER_MACHINE_NAME
#    echo "... Done"
#fi
# eval "$(docker-machine env $DOCKER_MACHINE_NAME)"

# Easy RSA intermediate
export EASY_RSA_PKI=$HOME/.easy-rsa
# Easy RSA root
export EASY_RSA_ROOT_PKI=$HOME/.easy-rsa-root

export NGINX_HOME=$HOME/.nginx

#PATH
export PATH=$PATH:$HOME/bin:$HOME/bin/Telegram:$HOME/go/bin
# GPG TTY
export GPG_TTY=`tty`

# Make vim the default editor
export EDITOR=vim;

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE=" *:ls:cd:cd -:pwd:exit:date:* --help:* -h:pony:pony add *:pony update *:pony save *:pony ls:pony ls *";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

export PDNS_DB=$HOME/.pdns/pdns.db
export NPM_PACKAGES="$HOME/.npm-packages"
